@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chela+One&display=swap");
* {
  margin: 0;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e4e4e4;
}

.bg-purple {
  background-color: #c7bbd1;
}

nav, .navbar-brand {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50px;
          flex: 1 0 50px;
  color: rgba(202, 180, 180, 0.747);
  font-size: 20px;
  padding: 10px;
}

.dropdown-menu li {
  font-size: 20px;
}

/* HERO */
.padre1 {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url(/multimedia/sdvdfz.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hijo1 h2 {
  margin-top: 50px;
  text-align: center;
  font-family: 'Chela One', cursive;
  font-size: 60px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.911);
}

.hijo1 p {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.911);
  background-color: #413f4242;
}

/* INSTRUCCIONES */
.instrucciones {
  background-color: #e4e4e4;
}

.instrucciones .carta {
  background-color: #f07b1ca1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.instrucciones h3 {
  color: rgba(255, 255, 255, 0.747);
  padding-bottom: 1px;
  font-size: 20px;
}

.instrucciones p {
  color: rgba(255, 255, 255, 0.747);
  padding-bottom: 1px;
  font-size: 15px;
}

.instrucciones .carta img {
  width: 80%;
  margin-top: 15px;
}

/* DESTINOS hover */
.imagen-opc {
  height: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 0 6px 0 rgba 0, 0, 0, 0.9;
          box-shadow: 0 0 6px 0 rgba 0, 0, 0, 0.9;
  border-radius: 8px;
}

.imagen-opc img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.imagen-opc h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(199, 187, 209, 0.637);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  top: 0%;
  /* ¡¡PROBLEMA!! */
}

.hover-galeria h3 {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.imagen-opc:hover .hover-galeria {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* DESTINOS cartas */
.servicios {
  background-image: url(/multimedia/puerto-madero-noche3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.servicios h2 {
  font-family: 'Chela One', cursive;
  text-align: center;
  color: rgba(255, 255, 255, 0.747);
  font-size: 48px;
  padding: 15px 10px;
}

.servicios .carta {
  background-color: rgba(199, 187, 209, 0.438);
  padding: 1rem;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}

.servicios h3 {
  text-align: center;
  color: rgba(255, 255, 255, 0.747);
  font-family: 'Chela One', cursive;
  font-size: 30px;
  margin: 10px;
}

.servicios p {
  color: rgba(255, 255, 255, 0.747);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 10px;
}

.carta img {
  width: 100%;
  height: 250px;
  margin-top: 1px;
  border-radius: 5px;
}

/* FOOTER */
.footer {
  background: #F37335;
  width: 100%;
  color: #353232;
}

.container-body {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #c7bbd1;
}

.container-body h2 {
  font-family: 'Chela One', cursive;
  font-size: 30px;
  font-weight: 600px;
  width: 100%;
  padding: 5px;
  color: black;
}

.seguinos img {
  cursor: pointer;
  size: 20px;
}

.container-footer {
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: #353232;
  color: black;
}

.container-footer .informacion {
  width: 100%;
  text-align: center;
  text-decoration: none;
  background-color: #353232;
  color: black;
}

/* DESTINO ELEGIDO */
.textos {
  padding-top: 20px;
  padding-left: 60px;
  background-color: #e4e4e4;
}

.textos h3 {
  text-align: center;
  font-family: 'Chela One', cursive;
  font-size: 30px;
  color: #ee8a38;
}

.textos p {
  font-family: 'Roboto', sans-serif;
  padding-left: 60px;
}

.textos li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  padding-left: 60px;
}

.mapa {
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.texto-mapa {
  text-align: center;
  /* PROBLEMA */
}

.texto-mapa h4 {
  text-decoration: none;
  font-family: 'Chela One', cursive;
  font-size: 30px;
  padding-top: 40px;
  color: #ee8a38;
}

.texto-mapa li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

/* INFORMACIÓN */
/* -nros- */
.informacion {
  background-color: #e4e4e4;
}

.informacion .carta {
  margin-top: 90px;
}

.informacion img {
  margin-top: 50px;
  height: 300px;
}

.informacion h3 {
  font-family: 'Chela One', cursive;
  font-size: 30px;
  font-weight: 600px;
  margin-top: 50px;
  width: 100%;
  padding: 5px;
  color: #b189d1;
}

.informacion li {
  font-family: 'Roboto', sans-serif;
  color: #b189d1;
  font-size: 18px;
}

/* -clima- */
.clima {
  padding-top: 50px;
  background-color: #e4e4e4;
}

.clima h3 {
  font-family: 'Chela One', cursive;
  font-size: 30px;
  font-weight: 600px;
  width: 100%;
  padding: 5px;
  color: #ec8937;
}

.clima li {
  font-family: 'Roboto', sans-serif;
  color: #ec8937;
  padding-bottom: 10px;
  font-size: 18px;
}

.clima img {
  height: 400px;
}

/* -turista- */
.turista {
  padding-top: 50px;
  background-color: #e4e4e4;
}

.turista img {
  height: 300px;
}

.turista h3 {
  font-family: 'Chela One', cursive;
  font-size: 30px;
  font-weight: 600px;
  margin-top: 30px;
  width: 100%;
  padding: 5px;
  color: #b189d1;
}

.turista li {
  font-family: 'Roboto', sans-serif;
  color: #b189d1;
  font-size: 18px;
}

.turista li .apps {
  list-style: none;
}

.turista h3 {
  font-family: 'Chela One', cursive;
  font-size: 30px;
  font-weight: 600px;
  margin-top: 50px;
  width: 100%;
  padding: 5px;
  color: #b189d1;
}

/* -sube- */
.sube {
  padding-top: 50px;
  background-color: #e4e4e4;
}

.sube img {
  height: 300px;
}

.sube h3 {
  font-family: 'Chela One', cursive;
  font-size: 30px;
  font-weight: 600px;
  margin-top: 50px;
  width: 100%;
  padding: 5px;
  color: #ec8937;
}

.sube p {
  font-family: 'Roboto', sans-serif;
  color: #ec8937;
  font-size: 18px;
  padding-bottom: 30px;
}

.sube h4 {
  font-family: 'Chela One', cursive;
}

.sube li {
  font-family: 'Roboto', sans-serif;
  color: #ec8937;
  font-size: 18px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */