
.titulo{
    color: #f07c1c;
    font-size: $size * 9;
    text-align: center;
    margin-bottom: 60px;
}



header{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f37435b0, #fdc630ad), /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav{
    text-align: right;
    padding: 30px 50px 0px 0px;

    & > a{
        color: $azul;
        font-weight: 300px ;
        text-decoration: none;
        margin-right: 10px;
        font-size: $size * 4;
        
        &:hover{
            color: rgba(255, 255, 255, 0.521);
            text-decoration: underline; 
        }
    }
}

.wave{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.menu-bar{
    display: flex;
}

/* textos */

.container{
    margin: 0 20px;

    .titulo{
        color: $rojo;
    }

    .subtitulo{
        font-size: $size *6;
        color: $naranja;
    }

    .texto{
        display: flex;

        &__contenido{
            border: 1px solid $azul;
            padding: $size * 2;

            &--verde{
                color: $verde;
            }
        }
    }
}


/*galeria*/

.contenedor h1{
    font-family: 'Nunito Sans', sans-serif;  
    font-size: $size * 7;
    color: #f07b1cda      
    
}

.opciones{
background: #e4e4e4;
}

.galeria-opc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.imagen-opc{
width: 30%;
margin-bottom: 10px;
height: 300px;
overflow: hidden;
position: relative;
cursor: pointer;
box-shadow: 0 0 6px 0 rgba (0, 0, 0, .9);
border-radius: 8px;

    & > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}


.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #d1a046a1;
    transform: scale(0);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    top:0%
}

.hover-galeria img{
    width: 24%;
    color: white;
    padding-bottom: 20px;

    & p{
        color: rgb(129, 14, 14);
        padding-bottom: 20px;
    }
}


.imagen-opc:hover .hover-galeria{
    transform: scale(1);
}

/* footer */

.footer{
    background: #F37335;
    width: 100%;
    color: #353232;
  }
  
  
  .container-body{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: rgb(199, 187, 209);

    & h2{
        font-family: 'Chela One', cursive;
        font-size: $size * 5;
        font-weight: 600px;
        width: 100%;
        padding: 5px;
        color: $verde;  
    }
  }
  
  .seguinos img{
    cursor: pointer;
    size: 20px;
  }
  
  .container-footer{
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #353232;
    color:black 
  }
